rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clients/{clientId} {
      allow read, write: if true;
    }
    match /pieces/{pieceId} {
      allow read, write: if true;
    }
    match /tasks/{taskId} {
      allow read, write: if true;
    }
    match /budgets/{budgetId} {
      allow read, write: if true;
    }
    match /projects/{projectId} {
      allow read, write: if true;
    }
    match /presence/{partnerName} {
      allow read, write: if true;
    }
  }
}
